<main>  
    <form action="#/", method="POST" class="weather-form">
        <input type="text" name="city" placeholder="Enter a city name">
        <input type="submit" value="Get weather">
    </form>
</main>

 
