<main>
    <div class="login-form">
        <form action="#/login" method="POST">
            <h2>Login</h2>
            <label>Username:</label>
            <input type="text" name="username" id="registerUsername">
            <label>Password:</label>
            <input type="password" name="password" id="registerPassword">
            <input type="submit" value="Login">
            <p class="account-question">No account? <a href="/login">Register here</a></p>
        </form>
    </div>
    <div class="error-container">
        <h5 class="error">{{errorMessage}}</h5>
    </div>
    <div class="plane-image-wrapper">
        <img src="images/plane3.png" class="plane-image">
    </div>
</main>


